*{
	margin: 0;
	padding: 0;
}
body {
    background: rgb(33, 12, 13);
    /*min-width: 1366px;*/
    font-family: 'Microsoft YaHei';
    color: white;
    overflow: hidden;
}
div#media{
	position: relative;
	top: 0;
	left: 0;
	/*z-index: -999;*/			
}
div#wrapper{
	position: relative;
	height: 100%;
	width: 100%;
}

div#content{
	margin: 0 auto;
	padding-top: 15vh;
	width: 700px;
	/*height: 100vh;*/
	text-align: center;
	/*background: yellowgreen;*/
	position: relative;
	transition: all 2s;
	transform:rotateX(80deg);
	-webkit-transform:rotateX(80deg); /* Safari and Chrome */
	-moz-transform:rotateX(80deg); /* Firefox */
	transform:rotate3d(1,1,0,80deg);
	opacity: 0;
}

.init{
	transform:rotateX(0deg) !important;
	-webkit-transform:rotateX(0deg) !important; /* Safari and Chrome */
	-moz-transform:rotateX(0deg) !important; /* Firefox */
	transform:rotate3d(0,0,0,45deg) !important;
	opacity: 1 !important;
}
div.headportraitWrapper{
	margin: 0 auto;
	/*margin-top: 15vh;*/
	height: 220px;
	width: 220px;
	background: #a7a7a7;
	border-radius: 50%;
	text-align: center;
	line-height: 216px;
	transition: all .8s ease-in-out;
	backface-visibility:hidden;
	z-index: 1;
}
.blueBack{
	background: #35ac03 !important;
}
div#overturnDiv:hover div:nth-of-type(1){
	transform:rotateY(-180deg) !important;
	-webkit-transform:rotateY(-180deg) !important; /* Safari and Chrome */
	-moz-transform:rotateY(-180deg) !important; /* Firefox */	
}
/*div#headportraitWrapper:hover{

}*/
img.headportrait{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	vertical-align: middle;
}

div#loginDiv div#loginChenkbox{
    margin-bottom:10px;
}

#container {
		position: absolute;
		height: 100%;
		width: 100%;
	}
#output {
	width: 100%;
	height: 100%;
}
a{
	margin: 0 auto;
	margin-top: 20px;
	display: block;
    text-decoration: none;
    color: white;
    border: 1px white solid;
    border-radius: 10px;
    width: 190px;
    height: 40px;
    margin-bottom: 20px;
    line-height: 40px;
    font-size: 18px;
}

a:hover{
	border: 1px dodgerblue solid;
}

div#overturnDiv{
    position: relative;
    width: 223px;
    border-radius: 50%;
    margin: 0 auto;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
}

div#overturnDiv>div:nth-of-type(2){
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -110px;
	/*margin-top: 15vh;*/
	height: 220px;
	width: 220px;
	background: #a7a7a7;
	border-radius: 50%;
	text-align: center;
	line-height: 216px;
	z-index: 2;
	transition: all .8s ease-in-out;
	backface-visibility:hidden;
	transform:rotateY(180deg) !important;
	-webkit-transform:rotateY(180deg) !important; /* Safari and Chrome */
	-moz-transform:rotateY(180deg) !important; /* Firefox */
}
div#overturnDiv:hover div:nth-of-type(2){
	transform:rotateY(0deg) !important;
	-webkit-transform:rotateY(0deg) !important; /* Safari and Chrome */
	-moz-transform:rotateY(0deg) !important; /* Firefox */
}
